__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env/
pip-log.txt
pip-delete-this-directory.txt
.cache/
.vscode/
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
*.pyo
local_settings.py
media/
mediafiles/
staticfiles/
static/
*.sass-cache
*.scss-cache
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.log
.DS_Store
.idea/
.vscode/
*.iml
docker-compose.override.yml
.docker/
.env
*.env
.env.*
htmlcov/
.coverage
.coverage.*
.mypy_cache/
.dmypy.json
dmypy.json
celerybeat-schedule
celerybeat.pid
node_modules/
